     <div class="col-sm-4 colo-lg-4 col-md-4">
        <div class="thumbnail">
            <p><img src="@Model.imagemUrl" class="img-rounded" /></p>
        </div>
        <div class="caption">
            <h3 class="pull-right">
                @Model.Preco.ToString("c")
            </h3>
            <p>@Model.DescricaoCurta</p>
        </div>

    </div>
